.main-chat{
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgb(0 0 0 / 5%);
    border-radius: 2px;
}
#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}
#typing p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}
.box-title-grean {
    border-left: 5px solid #009688;
    color: #009688;
}

.box-title-red {
    border-left: 5px solid #e74c3c;
    color: #960000;
}
#userContainer .alert{
    margin-bottom: 0;
}